# Peer Graded Assignment

_In this notebook is my first peer reviewed assignment_

__Top Data Science Languages__
1. Python
2. R
3. SQL

__Data Science Libraries__
- Pandas
- Keras
- Tensorflow
- MySQL

| Data Science Tools | 
| --- |
| Apache Airflow |
| Apache Spark |
| Github |
| Jupyter |
| IBM DB2|

 ### Below are examples of evaluating arithmetic expressions in Python

In [5]:
(47*16)+(4*3)

764

In [11]:
minutes = float(input("Enter number of minutes"))
hours = minutes // 60
print(hours)

Enter number of minutes 120

2.0

**Objectives**
- Introduction
- Data Science Languages
- Data Science Libraries
- Data Science Tools
- Arithmetic Expression Examples

## Author
Joshua V.